* {
    margin: 0;
    padding: 0;
  }

  /* Video style */
#mainvideo{
    margin-top: -1.8%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

#Video1 , #Video2, #Video3, #Video4{
    margin-top: -1.8%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}


 /* tekst style */
body{
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: white;
}

h1{
    text-align: center;
    position: relative;
    font-size: 80px;
    z-index: 100;
    margin-top: -42%;
}