* {
    margin: 0;
    padding: 0;
  }

/* Video Properties */
#mainvideo{
    margin-top: -1.8%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    display: block;
 
}

#Videoplay{
    margin-top: -1.8%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    display: none;
}


body{
  font-family: "Inter", sans-serif;
  overflow: hidden;
  font-style: normal;
  color: white;
}

/* Text Properties */
#frontpagetxt{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -63%;
}


#frontpagetxt h1{
  font-size: 50px;
  margin-bottom: 8%;
}

#frontpagetxt h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -2%;
}


/* Stylig til svar grafikken */

#Answergraphic{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#IMAGEANS1, #IMAGEANS2, #IMAGEANS3{
  transform: scale(0.65);
}

#answer1div, #answer2div, #answer3div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#box1, #box2, #box3{
  background-color: rgb(255, 255, 255);
  border-radius: 70px;
  width: 240px;
  height: 70px;
}

h3{
    margin-top: 6.5%;
    color: black;
    font-size: 30px;
    text-align: center;
}


/* Stylig til svar til spørgsmålet */

#correctanswertext h2{
    font-size: 35px;
    text-align: center;
    margin-top: 4%;
}

/* Forfra knap */
#reset{
    margin-left: 3%;
    margin-top: -58%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0%;

}

h2 a{
    color: white;
    text-decoration: none;
    margin-left: -55%;
}

#Backspace{
    width: 55%;
}


/* forfra knap*/
#udforsk2{
display: flex;
gap: 20px;
align-items: center;
justify-content: center;
text-decoration: none;
color: white;
font-size: 18px;
margin-top: -15%;
}

#arrow1{
  width: 10%;
}

#box11{
  background-color: #9A0003;
  border-radius: 70px;
  width: 240px;
  height: 70px;
}

#boxcon11{
  display: flex;
  justify-content: center;
}

#containerbutton11{
  margin-top: -3.7%;
  margin-left: 75%;
  opacity: 0%;
}


h3{
    margin-top: 8%;
    color: black;
    font-size: 22px;
    text-align: center;
}







